*.Tbk filter=lfs diff=lfs merge=lfs -text
*.Tdx filter=lfs diff=lfs merge=lfs -text
*.tev filter=lfs diff=lfs merge=lfs -text
*.tin filter=lfs diff=lfs merge=lfs -text
*.tnt filter=lfs diff=lfs merge=lfs -text
*.tsq filter=lfs diff=lfs merge=lfs -text
ExampleData/SubjectExperiment/Event/[[:space:]]based/[[:space:]]GCaMP6f/[[:space:]]/(+artifact/)/Fear/[[:space:]]test/Fear_test-191219_40-191219-103822.Tbk filter=lfs diff=lfs merge=lfs -text
ExampleData/SubjectExperiment/Event/[[:space:]]based/[[:space:]]GCaMP6f/[[:space:]]/(+artifact/)/Fear/[[:space:]]test/Fear_test-191219_40-191219-103822.Tdx filter=lfs diff=lfs merge=lfs -text
ExampleData/SubjectExperiment/Event/[[:space:]]based/[[:space:]]GCaMP6f/[[:space:]]/(+artifact/)/Fear/[[:space:]]test/Fear_test-191219_40-191219-103822.tev filter=lfs diff=lfs merge=lfs -text
ExampleData/SubjectExperiment/Event/[[:space:]]based/[[:space:]]GCaMP6f/[[:space:]]/(+artifact/)/Fear/[[:space:]]test/Fear_test-191219_40-191219-103822.tin filter=lfs diff=lfs merge=lfs -text
ExampleData/SubjectExperiment/Event/[[:space:]]based/[[:space:]]GCaMP6f/[[:space:]]/(+artifact/)/Fear/[[:space:]]test/Fear_test-191219_40-191219-103822.tnt filter=lfs diff=lfs merge=lfs -text
ExampleData/SubjectExperiment/Event/[[:space:]]based/[[:space:]]GCaMP6f/[[:space:]]/(+artifact/)/Fear/[[:space:]]test/Fear_test-191219_40-191219-103822.tsq filter=lfs diff=lfs merge=lfs -text
ExampleData/SubjectExperiment/Event/[[:space:]]based/[[:space:]]GCaMP6s/[[:space:]]/(+artifact/)/Fear/[[:space:]]test/1_fear_test.Tbk filter=lfs diff=lfs merge=lfs -text
ExampleData/SubjectExperiment/Event/[[:space:]]based/[[:space:]]GCaMP6s/[[:space:]]/(+artifact/)/Fear/[[:space:]]test/1_fear_test.Tdx filter=lfs diff=lfs merge=lfs -text
ExampleData/SubjectExperiment/Event/[[:space:]]based/[[:space:]]GCaMP6s/[[:space:]]/(+artifact/)/Fear/[[:space:]]test/1_fear_test.tev filter=lfs diff=lfs merge=lfs -text
ExampleData/SubjectExperiment/Event/[[:space:]]based/[[:space:]]GCaMP6s/[[:space:]]/(+artifact/)/Fear/[[:space:]]test/1_fear_test.tin filter=lfs diff=lfs merge=lfs -text
ExampleData/SubjectExperiment/Event/[[:space:]]based/[[:space:]]GCaMP6s/[[:space:]]/(+artifact/)/Fear/[[:space:]]test/1_fear_test.tnt filter=lfs diff=lfs merge=lfs -text
ExampleData/SubjectExperiment/Event/[[:space:]]based/[[:space:]]GCaMP6s/[[:space:]]/(+artifact/)/Fear/[[:space:]]test/1_fear_test.tsq filter=lfs diff=lfs merge=lfs -text
ExampleData/SubjectExperiment/Whole/[[:space:]]trace/[[:space:]]GCaMP7s/Whole/[[:space:]]trace/213D1_Baseline1.Tbk filter=lfs diff=lfs merge=lfs -text
ExampleData/SubjectExperiment/Whole/[[:space:]]trace/[[:space:]]GCaMP7s/Whole/[[:space:]]trace/213D1_Baseline1.Tdx filter=lfs diff=lfs merge=lfs -text
ExampleData/SubjectExperiment/Whole/[[:space:]]trace/[[:space:]]GCaMP7s/Whole/[[:space:]]trace/213D1_Baseline1.tev filter=lfs diff=lfs merge=lfs -text
ExampleData/SubjectExperiment/Whole/[[:space:]]trace/[[:space:]]GCaMP7s/Whole/[[:space:]]trace/213D1_Baseline1.tin filter=lfs diff=lfs merge=lfs -text
ExampleData/SubjectExperiment/Whole/[[:space:]]trace/[[:space:]]GCaMP7s/Whole/[[:space:]]trace/213D1_Baseline1.tnt filter=lfs diff=lfs merge=lfs -text
ExampleData/SubjectExperiment/Whole/[[:space:]]trace/[[:space:]]GCaMP7s/Whole/[[:space:]]trace/213D1_Baseline1.tsq filter=lfs diff=lfs merge=lfs -text
